<!--
<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <span>&copy; 2017 LAplus.TECH, Inc</span>
        <li><a href="#">利用規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li> <a href="#">ヘルプ</a></li>
      </ul>
    </nav>
  </div>
</footer>
-->

<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2017 LAplus.TECH, Inc</p>
  </div>
</footer>