<header class = "navber navbar-fixed-top navbar-inverse">
    <div class = "container">
        <%= link_to "Laplusmembers", '#', id: "logo" %>
        
        <nav>
            <ul class = "nav navber-nav navbar-right">
                <li>
                    <%= link_to "Home", '#' %>
                </li>
                <li>
                    <%= link_to "Help", '#' %>
                </li>
                <li>
                    <%= link_to "Log in", '#' %>
                </li>
            </ul>
        </nav>
    </div>
</header>